*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
Javadoc/
src/ai/search/parallel/
Parallel storage/parallel/MaxSearch.java
Parallel storage/parallel/ParallelLauncher.java
Parallel storage/parallel/ParallelMinimax.java
Parallel storage/parallel/SinglePlayer.java
Parallel storage/parallel/WindowSearch.java
.idea/
322-Amazon-AI.iml
Amazons Writeup.pdf
